{% extends "Linkfeed/layouts.html" %}
{% load socialaccount %} 
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Linkfeed/login.css' %}">
{% endblock %}


{% block body %}

<div class="container-fluid">
  <div class="form-container">
    {% if message %}
      <div class="alert alert-info">{{message}}</div>
    {% endif %}
    
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <h3>Login</h3>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% provider_login_url 'google' next='/' %}" class="btn btn-primary">Login with Google</a>
        <a href="{% url 'login' %}" class="btn btn-secondary">Back</a>

      </div>
    </form>
    <a href=" {% url 'register' %} ">Don't have an account? Register here.</a>
  </div>
</div>

{% endblock %}
