{% extends "Linkfeed/layouts.html" %}

{% block name %}
    {{ profile.display_name }}
{% endblock %}

{% block nav %}
    {% if not request.user.is_authenticated %}
        {% include 'Linkfeed/logged_out_nav.html' %}
    {% endif %}
{% endblock %}

{% block body %}
    <h2>
        Post
    </h2>

    {% if post %}
        <div>{% include 'Linkfeed/posts.html' %}</div>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
        <h2>Comments</h2>
        <p class="underline small">
            <a href="{% url 'comments_by_date' profile.user.username post.timestamp|date:'Y-m-d' %}?id={{ id }}">Embed as iframe</a>
        </p>
    </div>
    <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
            {% if not request.user.is_authenticated %}
                <input name="display_name" placeholder="Name" required>
            {% endif %}
            <textarea name="body" rows="4" placeholder="Add a comment..."required></textarea>
            <button type="submit">
                Comment
            </button>
    </form>

    {% include 'Linkfeed/comments.html' with comments=comments %}

    <script>
        function unhideForm(comment_id) {
            document.getElementById(comment_id).hidden = false;
        }
    </script>

{% endblock %}