{% extends "Linkfeed/layouts.html" %}
{% load static %}

{% block styles %}
    <style>
        .fixed-bottom {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
        }

        .fixed-bottom .btn {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block nav %}
<a href="{% url 'feed' profile.user.username %}" class="">Feed</a>
<a id="mirror-rss-feed-btn" onclick="toggleMirrorRSSFeedPopup()" class="">Mirror RSS Feed</a>
<a href="#">Import CSS</a>
{% endblock %}

{% block body %}

<a href="#">https://bloge.li</a>
<div class="row my-4 d-flex justify-content-center align-items-center">
    <div class="col text-center aliing-items-center mx-5">
        <a id="followers-link" style="cursor: pointer;">Followers: {{ profile.follower.count }}</a>
    </div>
    <div class="col text-center mx-5">
        <a id="following-link" style="cursor: pointer;">Following: {{ profile.following.count }}</a>
    </div>
    <div class="col text-center mx-5 p-0">
        {% if profile.user.username == user.username %}
        <a href="#" class="follow-button">Edit Profile</a>
        {% elif not following %}
        <a href="{% url 'follow_or_unfollow' profile.user.username %}" class="follow-button">Follow</a>
        {% elif following %}
        <a href="{% url 'follow_or_unfollow' profile.user.username %}" id="following-text" class="follow-button">Following</a>
        <script>
            document.getElementById('following-text').addEventListener('mouseover', function() {
            this.innerHTML = 'Unfollow';
            });
            document.getElementById('following-text').addEventListener('mouseout', function() {
            this.innerHTML = 'Following';
            });
        </script>
        {% endif %}
    </div>
</div>

{% if profile.user.username == user.username %}
<div class="create-post p-3">
    <form class="m-auto pt-3" id="create-post-form" method="post" action="{% url 'create_post' %}">
        {% csrf_token %}
        <div class="post-title form-group">
            <input type="text" id="title-input" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="row">
            <div class="col-9">
                <div class="post-body form-group">
                    <input type="url" id="body-input" class="form-control" name="body" placeholder="URL">
                </div>
            </div>
            <div class="col-3">
                <button type="submit" class="btn red-button" id="create-post-button">Post</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

<div id="posts" class="mt-5">
    <div class="">
        {% for post in posts %}
            {% include 'Linkfeed/posts.html' %}
        {% endfor %}
    </div>
</div>


<div class="fixed-bottom">
    <button id="create-post-btn" onclick="toggleCreatePostPopup()" class="btn btn-success">Create Post</button>
    <button id="mirror-rss-feed-btn" onclick="toggleMirrorRSSFeedPopup()" class="btn btn-info">Mirror RSS Feed</button>
    <a href="{% url 'current_user_feed' %}" class="btn btn-primary">Feed</a>
    <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
    <form action="{% url 'refresh_mirrored_rss_feed' %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Refresh RSS Feed</button>
    </form>
</div>

<div id="createPostPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Post</h5>
                <button type="button" class="close" onclick="toggleCreatePostPopup()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createPostForm" method="post" action="{% url 'create_post' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="body">URL:</label>
                        <input type="url" class="form-control" name="body">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="mirrorRSSFeedPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mirror RSS Feed</h5>
                <button type="button" class="close" onclick="toggleMirrorRSSFeedPopup()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="mirrorRSSFeedForm" method="post" action="{% url 'mirror_rss_feed' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rssFeedLink">RSS Feed Link:</label>
                        <input type="url" class="form-control" id="rssFeedLink" name="link" placeholder="Enter RSS Feed link">
                    </div>
                    <button type="submit" class="btn btn-primary">Mirror</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleCreatePostPopup() {
        var popup = document.getElementById("createPostPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }

    function toggleMirrorRSSFeedPopup() {
        var popup = document.getElementById("mirrorRSSFeedPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }

    var followersLink = document.getElementById('followers-link');
    followersLink.addEventListener('mouseover', function() {
        this.style.textDecoration = 'underline';
    });

    followersLink.addEventListener('mouseout', function() {
        this.style.textDecoration = 'none';
    });

    followersLink.addEventListener('click', function() {
        window.location.href = "{% url 'followers' profile.user.username %}";
    });

    var followingLink = document.getElementById('following-link');
    followingLink.addEventListener('mouseover', function() {
        this.style.textDecoration = 'underline';
    });

    followingLink.addEventListener('mouseout', function() {
        this.style.textDecoration = 'none';
    });

    followingLink.addEventListener('click', function() {
        window.location.href = "{% url 'following' profile.user.username %}";
    });
</script>

{% endblock body %}
