@font-face { 
	font-family: Sabado;
	src: url("./Sabado\ Regular.ttf");
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	 src: url("./Nexa\ Bold.otf");
}
@font-face {
	font-family: Space;
	src: url("./SpaceGrotesk.ttf");
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
}
body{
	max-width:40em;
	margin:0 auto;
	font-family: Space, sans-serif;
	font-size:20px;
	line-height:30px;
	background-color:#fff;
	color:#000;
	font-weight: 300;
	overflow-y:scroll;
	overflow-x: hidden;
}
.vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
	z-index: -1;
}
h1,h2,h3,h4,dt,small,.small,dl#tweetlist dt,footer,label,#commentlist ol li cite,div.blogparent,input[type="submit"]{
	font-family: Nexa;
	font-weight:normal;
	font-style:normal;
	text-align:left;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0em;
  }
  
  /* li {
	padding-left: .7em;
	text-indent: -.7em;
  } */

a {
	color: #EA322E;
}

a:visited {
	color: #EA322E;
}

a:hover {
	color: #941100;
}

button:active {
	background-color: #941100;
	border-color: #941100;
}

button:hover {
	background-color: #941100;
	border-color: #941100;
}

pre {
	font-size: 70%;
	background-color: #1e1e1e;
	color: white;
	padding: 5px;
	border-radius: .25rem;
}

#main-header {
	width: fit-content;
}

.red-button {
	background-color: #EA322E;
	color: white;
	font-size: 20px;
}

.red-button a {
	color: white;
}

.red-button a:hover {
	text-decoration: none;
	color:white;
}

.red-button:hover {
	color:white;
}

.header {
	font-family: Sabado, sans-serif;
    font-size: 3.5em;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-top: 10px;
	line-height: 80%;
	border-radius: .25rem;
}

#nav-header {
	/* border-left: 1px solid black;
	border-right: 1px solid black; */
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50%;
	background-color: #EA322E;
}
#nav-header:hover {
	background-color: #941100;
}

#username-header a {
	color:#000;
}

#username-header a:hover {
	text-decoration-color: #EA322E;
}

#open-btn {
	color: white;
	padding-left: 0;
	padding-right: 0;
}

a.follow-button {
	border: 1px solid #EA322E;
	background-color: #EA322E;
	border-radius: .25rem;
	padding: 5px 20px 5px 20px;
	color: white;
}

.follow-button:hover {
	background-color: #941100;
	border-color: #941100;
	text-decoration: none;
}

.create-post {
	border: 1px solid black;
	border-radius: 25px;
}

#create-post-form {
	width: 80%;
}

#title-input {
	font-size: 1.5rem;
}

#body-input {
	font-size: 20px;
}

#create-post-button {
	width: 100%;
}
#create-post-button:hover {
	color: white;
}

#posts {
    width: 100%;
}

.wrapped-post-link {
    position: relative; /* Ensure z-index works */
    z-index: 1;
    color: black;
}

.wrapped-post-link:visited {
	color: black;
}

.wrapped-post-link:hover {
    text-decoration: none;
	color: black;
}

.wrapped-post:hover {
	background-color: #f1f1f1;
}

.post {
    border-bottom: 1px solid black;
}

.post-title {
    font-family: Nexa, sans-serif;
}

.post-body {
    z-index: 5;
	color:#EA322E;
}


/* <!-- <a href="{% url 'post' post.id %}" class="btn btn-primary">View Post</a>
{% if post.user == user %}
<button data-post-id="{{ post.id }}" class="delete-btn btn btn-danger">Delete</button>
{% endif %} --> */